<nav class="navbar-fixed-top">
    <div class="container header">
        <span class="back-button back" ui-sref="today-order-list" ></span>
        <div class="nav-header">
            <span>订单详情</span>
        </div>
    </div>
</nav>

<div class="container-fluid container-detail" style="margin-bottom: 70px;min-height: 740px;">
	<div class="row" ng-if="order">
	     <div class="col-lg-12 dataTable_wrapper">
	     	<div class="panel panel-default">
	     		<div class="panel-heading">
                    <strong style="font-size: 17px;">{{order.restaurant.name}}</strong>
                    <button type="button" class="btn btn-default" style="float: right; margin-top: -5px; margin-right: -5px; color: #00a1ea; border: none;background-color: #f6f6f6;" ng-click="toRedressLocation()">修正坐标</button>
                </div>
                <div class="messages-box">
                    <div class="messages user">
                        <div><span>出库单ID：{{order.id}}</span></div>
                        <div><span>餐馆ID：{{order.restaurant.id}}</span></div>
                        <div><span>餐馆名称：{{order.restaurant.name}}</span></div>
                        <div><span>下单时间：{{order.submitDate | date : "yyyy-MM-dd HH:mm:ss"}}</span></div>
                        <div><span>销售客服：{{order.customer.adminUser.realname}}</span></div>
                        <div>客服电话：<span ng-click="toConfirmYesNo(0,order.customer.adminUser.telephone)">{{order.customer.adminUser.telephone}}</span></span></div>

                    </div>
                </div>
	     	</div>
	     </div>
	</div>

	<div class="row" ng-if="order.orderItems && order.orderItems.length > 0">
        <div class="col-lg-12 dataTable_wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong style="font-size: 17px;">订单明细</strong>
                </div>

                    <div class="messages-box" ng-repeat="orderItem in order.orderItems">
                        <div class="messages user">
                            <div>商品名称：<span>{{orderItem.sku.name}}</span></div>
                            <div>单价：<span>{{orderItem.price | currency : "￥"}}</span></div>
                            <div>数量：<span>{{orderItem.quantity}}</span></div>
                            <div>下单时间：<span>{{order.submitDate | date : "yyyy-MM-dd HH:mm:ss"}}</span></div>
                            <div>总价：<span>{{orderItem.totalPrice | currency : "￥"}}</span></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="order.promotions && order.promotions.length > 0">
        <div class="col-lg-12 dataTable_wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong style="font-size: 17px;">优惠明细</strong>
                </div>

                <div class="messages-box" ng-repeat="promotion in order.promotions">
                    <div class="messages user">
                        <div>优惠详情：<span>{{promotion.description}}</span></div>
                        <div>数量：<span>{{promotion.quantity}}</span></div>
                        <div>减免/赠送商品：
                            <span ng-if="promotion.discount !== 0">-{{promotion.discount | currency : "￥"}}</span>
                            <span ng-if="promotion.sku.name">{{promotion.sku.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="order.customerCoupons && order.customerCoupons.length > 0">
        <div class="col-lg-12 dataTable_wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong style="font-size: 17px;">无忧券明细</strong>
                </div>
                <div class="messages-box" ng-repeat="customerCoupon in order.customerCoupons">
                    <div class="messages user">
                        <div>优惠券类型：<span>{{customerCoupon.coupon.type.name}}</span></div>
                        <div>优惠券标题：<span>{{customerCoupon.coupon.description}}</span></div>
                        <div>使用条件：<span>{{customerCoupon.coupon.remark}}</span></div>
                        <div>减免/赠送商：
                            <span ng-if="customerCoupon.coupon.discount">-{{customerCoupon.coupon.discount | currency : "￥"}}</span>
                            <span ng-if="customerCoupon.coupon.sku.name">{{customerCoupon.coupon.sku.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="order.memo">
        <div class="col-lg-12 dataTable_wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong style="font-size: 17px;">备注信息</strong>
                </div>
                <div class="messages-box" ng-repeat="customerCoupon in order.customerCoupons">
                    <div class="messages user">
                        <div>{{order.memo}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<div class="navbar-fixed-bottom bottom">
    <div class="bottom-left" ng-if="order">
        <span class="" style="padding-left: 8px; display:inline-block;margin: 7px 0 2px 0;">订单总金额：
            <span style="color:red;">{{order.total | currency : "￥"}}</span>
        </span>
        <div class="check-tip" style="font-size: 11px;padding-left: 8px;display:inline-block;margin: 0px 0 10px 0">1.请确认商品配送无误</div>
        <div class="check-tip" style="font-size: 11px;padding-left: 8px;">2.请确认账款收取无误</div>
    </div>

    <div class="bottom-middle" ng-if="order">
        <div class="success" style="width: 95%;" ng-click="toConfirmYesNo(order,0);" ng-if="order.status.value !== 2" ng-disabled="isConfirmProcess">配送完成</div>
        <div class="success" style="width: 95%;" ng-if="order.status.value === 2" disabled>已配送完成</div>
    </div>
    <div class="bottom-right">
        <div   ng-disabled="order.status.value === 2" ng-click="toStockOut()">退货操作</div>
    </div>

</div>


<div id="modalConfirmYesNo" class="modal fade">
    <div class="modal-dialog" style="margin-top: 60%;">
        <div class="modal-content">
            <div class="modal-body">
                <p id="lblMsgConfirmYesNo"></p>
            </div>
            <div class="modal-footer">
                <button id="btnNoConfirmYesNo" type="button" class="btn btn-default">取消</button>
                <button id="btnYesConfirmYesNo" type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>