<nav class="navbar-fixed-top">
	<div class="container header">
		<span class="back-button back" ui-sref="home" ></span>
		<div class="nav-header">
			<span>配送单查询</span>
		</div>
	</div>
</nav>

<div class="container-fluid" style="margin-top: 4px; background-color: #e2e2e2;">
	<div class="row form-row">
		<div class="col-lg-12">
			<form rol="form" class="form-inline">
				<div class=" col-lg-12" style="position: relative;">
					<div class="alert alert-info alert-tip profile-header" rol="alert">
						起始时间
					</div>
					<input type="text" class="form-control return-time"  datepicker-popup="{{format}}" ng-model="startDate" is-open="openedStart" datepicker-options="dateOptions" current-text="今日" clear-text="清除" close-text="关闭" ng-click="openStart($event)" />
					<span class="order-detail" style="top:20px;right: 10px;"></span>
				</div>
				<div class="form-group col-lg-12" style="position: relative;">
					<div class="alert alert-info alert-tip profile-header" rol="alert">
						结束时间
					</div>
					<input type="text" class="form-control return-time" datepicker-popup="{{format}}" ng-model="endDate" is-open="openedEnd" datepicker-options="dateOptions" current-text="今日" clear-text="清除" close-text="关闭" ng-click="openEnd($event)" />
					<span class="order-detail" style="top:20px;right: 10px;"></span>
				</div>
				<div class="row">
	            	<button type="button" class="btn btn-primary btn-lg search-btn" ng-click="resetPageAndSearch()">
		            	<span class="glyphicon  back-left" aria-hidden="true" style="margin-right: 6px;top:3px;"></span>查询
		            </button>
	            </div>
			</form>
		</div>
	</div>

    <div class="row" ng-if="returnGoodsItems.length > 0">
		<div class="row">
			<div class="col-lg-12">
				<div class="alert alert-info alert-tip" rol="alert" ng-if="returnGoodsItems.length > 0" style="padding-left: 30px;border-top: 1px solid #c4c4c4;">
					总单数：{{returnGoodsItems.length ? returnGoodsItems.length : 0}}
					<span style="display: inline-block;margin-left: 65px;">{{subTotal | currency : "￥"}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 dataTable_wrapper" style="padding: 0 20px;" >
				<div class="panel panel-default" ng-repeat="returnGoodsItem in returnGoodsItems" ng-if="returnGoodsItems.length > 0">
					<div class="panel-heading">
						<strong style="font-size: 16px;">
							订单编号：{{returnGoodsItem.orderId}}
						</strong>
						<strong style="font-size: 16px;margin-left: 28px;">
							餐馆名称：{{returnGoodsItem.restaurantName}}
						</strong>
					</div>
					<div class="messages-box" >
						<div class="messages user">
							<div><span>商品名称：{{returnGoodsItem.skuName}}</span></div>
							<div><span>单价：{{returnGoodsItem.price}}</span></div>
							<div><span>数量：{{returnGoodsItem.quantity}}</span></div>
							<div><span>金额：{{returnGoodsItem.amount}}</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

    <div class="row" align="center" ng-if="returnGoodsItems.length > 0">
        <div calss="col-lg-12">
            <pagination total-items="page.totalItems" ng-model="page.currentPage" items-per-page="page.itemsPerPage" max-size="3" class="pagination" boundary-links="true" ng-change="pageChanged()" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页"></pagination>
        </div>
    </div>

	<div class="row" ng-if="returnGoodsItems.length === 0" style="display: flex;min-height: 500px;">
		<div class="zore" style="margin-top: 30px;">
			<div class="no-return"></div>
			<div class="no" style="position: absolute;left:-5px;width: 114px;top:100px;">暂无退货明细信息</div>
		</div>
	</div>
</div>
<div class="navbar navbar-fixed-bottom bottom" style="background-color: #f6f6f6;">
	<div class="query-bottom">
		<div class="today-orders" ui-sref="today-order-query">
			<span class="today-none"></span>
			<div>今日订单</div>
		</div>
		<div class="stockout-query"  ui-sref="out-of-stock">
			<span class="stockout"></span>
			<div>缺货查询</div>
		</div>
		<div class="return-back"  ui-sref="return-goods-query">
			<span class="return-now"></span>
			<div>退货查询</div>
		</div>
		<div class="history-query" ui-sref="histories-query({startReceiveDate:startHistoryDate,endReceiveDate:endHistoryReturnDate})">
			<span class="history"></span>
			<div>历史查询</div>
		</div>
	</div>
</div>