<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">路线规划</span>
            <button type="button" class="btn btn-default navbar-btn" ui-sref="home" style="padding-left: 10px;">
                <span class="glyphicon glyphicon-menu-left back-left" aria-hidden="true"></span>返回
            </button>
        </div>
    </div>
</nav>

<div id="houseMap">
    <div style="height:480px; margin-top: -19px;">
        <div id="allmap" style="width: 100%;height: 100%"></div>
    </div>
    <div>
        <span class="label label-default redress-confirm-label">餐馆路线规划展示</span>
    </div>
    <div class="row" align="center" ng-if="totalPointArray>8">
    <div calss="col-lg-12">
        <pagination total-items="page.totalItems" ng-model="page.currentPage" items-per-page="page.curPageSize" max-size="3" class="pagination" boundary-links="true" ng-click="pageShow()" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页"></pagination>
    </div>
</div>
</div>
