<nav class="navbar-fixed-top">
	<div class="container header">
		<span class="back-button back" ui-sref="home" ></span>
		<div class="nav-header">
			<span>配送单查询</span>
		</div>
	</div>
</nav>

<div class="container-fluid" style="background-color: #e2e2e2;">
	<div class="row">
		<div class="col-lg-12">
			<div class="alert alert-info alert-tip" rol="alert" ng-if="outOfStockItems.length > 0">
				总单数：{{outOfStockItems.length ? outOfStockItems.length : 0}}
				<span style="display: inline-block;margin-left: 65px;">总金额：{{subTotal | currency : "￥"}}</span>
			</div>
		</div>
	</div>
    <div class="row">
    	<div class="col-lg-12 dataTable_wrapper">
			<div class="panel panel-default" ng-repeat="outOfStockItem in outOfStockItems" ng-if="outOfStockItems.length > 0">
	            <div class="panel-heading">
	                <strong style="font-size: 16px;">
						订单编号：{{outOfStockItem.orderId}}
					</strong>
					<strong style="font-size: 16px;margin-left: 28px;">
						餐馆名称：{{outOfStockItem.restaurantName}}
	                </strong>
	            </div>
				<div class="messages-box" >
					<div class="messages user">
						<div><span>商品名称：{{outOfStockItem.skuName}}</span></div>
						<div><span>单价：{{outOfStockItem.price}}</span></div>
						<div><span>数量：{{outOfStockItem.quantity}}</span></div>
						<div><span>金额：{{outOfStockItem.amount}}</span></div>
					</div>
				</div>
			</div>
	    </div>
    </div>

	<div class="row" ng-if="outOfStockItems.length === 0" style="display: flex;height: 680px;">
		<div class="zore">
			<div class="no-stockout"></div>
			<div class="no" style="position: absolute;left:-5px;width: 114px;">今日暂无缺货信息</div>
		</div>
	</div>
</div>
<div class="navbar navbar-fixed-bottom bottom" style="background-color: #f6f6f6;">
	<div class="query-bottom">
		<div class="today-orders" ui-sref="today-order-query">
			<span class="today-none"></span>
			<div>今日订单</div>
		</div>
		<div class="stockout-query"  ui-sref="out-of-stock">
			<span class="stockout-now"></span>
			<div>缺货查询</div>
		</div>
		<div class="return-back"  ui-sref="return-goods-query({startReturnDate:startDate,endReturnDate:endDate})">
			<span class="return"></span>
			<div>退货查询</div>
		</div>
		<div class="history-query" ui-sref="histories-query({startReceiveDate:startDate,endReceiveDate:endDate})">
			<span class="history"></span>
			<div>历史查询</div>
		</div>
	</div>
</div>