<nav class="navbar-fixed-top">
    <div class="container header">
        <span class="back-button back" ui-sref="home" ></span>
        <div class="nav-header">
            <span>个人中心</span>
        </div>
    </div>
</nav>
<div class="container-fluid my">
    <div class="row">
        <div class="col-lg-12" ui-sref="feedback">
            <div class="alert alert-info alert-tip profile-header" rol="alert" style="border-bottom: 1px solid #e2e2e2">
                 司机反馈
            </div>
            <span class="order-detail" style="top:20px;right: 10px;"></span>
        </div>
        <div class="col-lg-12" ng-click="checkVersion()">
            <div class="alert alert-info alert-tip profile-header" rol="alert">
                版本更新
            </div>
            <span style="position: absolute;top:20px;right: 35px;font-size: 12px;color: #969696" ng-if="currentVersion" >当前版本V{{currentVersion}}</span>
            <span class="order-detail" style="top:20px;right: 10px;"></span>
        </div>
    </div>

    <div class="row login">
        <div class="col-lg-12">
            <div class="alert alert-info alert-tip profile-header login-header" rol="alert" ng-click = "logout()">
                退出登录
            </div>
        </div>
    </div>
</div>
<div id='versionToast' class='hide'></div>