<nav class="navbar-fixed-top">
    <div class="container header">
        <span class="back-button back" ui-sref="home" ></span>
        <div class="nav-header">
            <span ng-if="isDeliverOrderGroups == true">待</span><span ng-if="isDeliverOrderGroups == false">已</span>配送
        </div>
    </div>
</nav>

<div class="container-fluid waite-distribution" style="min-height: 740px;">
    <div class="row" ng-if="displayOrderGroups.length > 0">
        <div class="col-lg-12">
            <div class="alert alert-info alert-tip" rol="alert">
                 总单数：{{displayOrderGroups.length}}
                 总金额：{{subTotal | currency : "￥"}}
            </div>
        </div>
    </div>
	<div class="row" ng-repeat="order in displayOrderGroups">
	    <div class="col-lg-12 dataTable_wrapper">
	     	<div class="panel panel-default">
	     		<div class="panel-heading">
                    <div class="user">{{order.restaurant.id}}－{{order.restaurant.name}}</div>
                    <div class="detail" ui-sref="today-order-detail({orderId:order.id,backParams:backParams})">
                        详情
                        <span class="order-detail"></span>
                    </div>
                </div>
                <div class="messages-box">
                    <div class="messages user">
                        <div><span>详细地址：{{order.restaurant.address.address}}</span></div>
                        <div><span ng-click="toConfirmYesNo(order.restaurant.telephone)">联系电话：{{order.restaurant.telephone}}</span></div>
                        <div><span>下单金额：<span style="color: red;">{{order.total | currency : "￥"}}</span></span></div>
                    </div>
                </div>
                <div class="messages-bottom">
                    <div class="messages-bottom-box">
                        <div class="messages-location" ng-click="toNavigate(order.restaurant.address)" ng-disabled="order.status.value === 2">
                            <span class="loca"></span>
                            导航
                        </div>
                        <div class="messages-phone" ng-click="toConfirmYesNo(order.restaurant.telephone)">
                            拨打电话
                            <span class="phone"></span>
                        </div>
                    </div>
                </div>
            </div>
	    </div>
	</div>

    <div class="row" ng-if="displayOrderGroups.length === 0" style="display: flex;height: 680px;">
         <div class="zore">
             <div class="none"></div>
             <div class="no">暂无配送单</div>
         </div>
    </div>
</div>

<div id="modalConfirmYesNo" class="modal fade">
    <div class="modal-dialog" style="margin-top: 60%;">
        <div class="modal-content">
            <div class="modal-body">
                <p id="lblMsgConfirmYesNo"></p>
            </div>
            <div class="modal-footer">
                <button id="btnNoConfirmYesNo" type="button" class="btn btn-default">取消</button>
                <button id="btnYesConfirmYesNo" type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>
