<nav class="navbar-fixed-top">
    <div class="container top">
        <div class="top-contain">
            <div class="profile" ui-sref="profile">
                <span class="personal ">个人中心</span>
                <span class="jiantou"></span>
            </div>
            <div class="photo">
                <img src="img/photo.png">
            </div>
            <div class="rea-name">{{userName}}</div>
            <div class="use-name">{{name}}</div>
            <div class="evaluation">
                <span>送货速度：{{evaluate.deliverySpeedScore}}分 &nbsp; | &nbsp;  </span>
                <span>服务态度：{{evaluate.trackerServiceScore}}分</span>
            </div>
            <div class="signIned" ng-if="signStatus==true" ng-click="sign()">
                <div class="signed-box">
                    <span class="signed">已签到</span>
                    <span class="dagou"></span>
                </div>
            </div>
            <div class="signIn" ng-if="signStatus==false" ng-click="sign()">
                <div class="sign-box">
                    <span class="sign">签到</span>
                    <span class="dagou"></span>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="middle container-fluid" >
    <div class="home-med">
        <div class="waite" ui-sref="today-order-list" style="display: inline-block;" >
            <div class="waite-img">
                <img src="img/waite.png">
                <span class="num">{{deliverOrderCount}}</span>
            </div>
            <span class="distribution">待配送(单)</span>
        </div>
        <div class="finished" ui-sref="today-order-list({statusValue:2})" >
            <div style="text-align: right;margin-right: 30%;">
                <div class="finished-img">
                    <img src="img/finished.png">
                    <span class="num already">{{deliveredOrderCount}}</span>
                </div>
                <span class="completed">已配送(单)</span>
            </div>
        </div>
        <div class="waite" style="border-top: 1px solid #b4b4b4" ui-sref="today-order-query">
            <div class="waite-img">
                <img src="img/query.png" style="width: 60px;margin: 25px 10px 0 23px;">
                <span></span>
            </div>
            <span class="distribution">配送单查询</span>
        </div>
        <div class="finished" ui-sref="plan-path">
            <div style="border-top: 1px solid #b4b4b4;text-align: right;margin-right: 25%;">
                <div class="finished-img">
                    <img src="img/route.png" style="width: 80px;margin: 35px 10px 0 45px">
                    <span></span>
                </div>
                <span class="completed" style="margin-right: 20px;">配送路线</span>
            </div>
        </div>
    </div>
</div>


