<nav class="navbar-fixed-top">
    <div class="container header">
        <span class="back-button back" ui-sref="today-order-detail({orderId: stockOutId,backParams: backParams})" ></span>
        <div class="nav-header">
            <span>退货操作</span>
        </div>
    </div>
</nav>

<div class="container-fluid" style="background-color: #e2e2e2;">
    <div class="row" >
        <form name="tableForm">
            <!-- 退货商品列表 -->
            <div class="col-lg-12 dataTable_wrapper"   ng-if="stockOutItems && stockOutItems.length > 0" >
                <div class=" panel-default" style="background-color: #e2e2e2;">
                    <div class="panel-heading  alert alert-info alert-tip"  rol="alert" style="padding-right: 8px;background-color: #e6e6e6;height: 45px;">
                        <strong style="font-size: 17px;">退货商品</strong>

                        <span class="amount-tip">
                            <label style="color: #000">应收:</label>
                            <span style="color: #000; margin-right: 5px;">{{stockOutForm.shouldAmount | currency:"￥"}}</span>

                            <label style="color: #000">实收:</label>
                            <span style="color: #e4393c;margin-right: 10px;">{{stockOutForm.receiveAmount | currency:"￥"}}</span>
                        </span>
                    </div>
                    <div ng-repeat="stockOutItem in stockOutItems">
                        <div class="col-lg-12" style="    margin-bottom: 20px;">
                            <div class="return-list" rol="alert"  style="height: 55px;">
                                商品名称：{{stockOutItem.skuName}}
                            </div>
                            <div class="return-list" rol="alert" >
                                应收数量：{{stockOutItem.realQuantity}}&nbsp;{{stockOutItem.skuSingleUnit}}
                            </div>
                            <div class="return-list " rol="alert" >
                                <label>退货数量：</label> <input type="text" name="returnQuantity_{{$index}}"  style="left: 70px;" class="form-control return-input"  placeholder="请输入退货数量" ng-model="stockOutItem.returnQuantity" ng-change="changeReceiveAmount(stockOutItem)"/>
                            </div>
                            <div class="return-list" rol="alert" >
                                <label>退货原因：</label>
                                <select class="form-control return-input" ng-model="stockOutItem.sellReturnReasonId" ng-options="reason.id as reason.reason for reason in reasons" style="padding-left: 0px;padding-right: 0px;">
                                    <option value="">请选原因</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- 结款方式 -->
            <!-- <div class="col-lg-12 dataTable_wrapper" ng-if="stockOutItems && stockOutItems.length > 0">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <strong style="font-size: 17px;">结款方式</strong>
                        <button type="button" class="btn btn-default" style="float: right; margin-top: -5px; margin-right: -5px; color: #286090; border-color: #286090;" ng-click="add(null)">
                            <span class="glyphicon glyphicon-plus back-left" aria-hidden="true" style="margin-right: 2px;"></span>添加
                        </button>
                    </div>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 40%;">收款方式</th>
                                <th style="width: 40%;">收款金额</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="collectionment in collectionments">
                                <td>
                                    <select class="form-control" ng-model="collectionment.collectionPaymentMethodId" ng-options="method.id as method.name for method in methods" style="padding-left: 6px;">
                                    </select>
                                </td>
                                <td>
                                    <input type="number" name="amount_{{$index}}" class="form-control" ng-model="collectionment.amount"/>
                                </td>
                                <td>
                                    <button type="button" ng-click="remove($index)" class="btn btn-danger" ng-disabled="$first">删除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->
        </form>
    </div>

    <br>
    <div class="row" style="text-align: center; margin-bottom: 15px;">
        <button type="submit" class="btn btn-lg btn-success" style="width: 90%;background-color: #00a1ea;border: none;" ng-click="stockOutReceive()"  ng-disabled="tableForm.$invalid || submitting || stockOutItems.length === 0 || pageError">确认退货</button>
    </div>
    <div class="row" style="text-align: center; margin-bottom: 15px;">
        <button class="btn btn-lg btn-default" style="width: 90%;border-color: #00a1ea;color: #00a1ea;background-color: #e2e2e2;" ng-disabled="stockOutItems.length === 0" ui-sref="today-order-detail({orderId: stockOutId,backParams: backParams})">返回详情</button>
    </div>
    <div class="row" style="text-align: center; ">
        <button class="btn btn-lg btn-default" style="width: 90%;border-color: #31b26b;color: #31b26b;background-color: #e2e2e2;" ng-disabled="stockOutItems.length === 0" ui-sref="home">返回首页</button>
    </div>
    <br>
</div>
