body {
     padding-top: 70px;
}
.navbar-default {
	/*background-color: #646464;*/
}
.col-lg-12 {
	padding-right: 1px;
    padding-left: 1px;
}
.panel-heading {
	padding-left: 8px;
}
#panel-heading{
    padding-top: 3px;
    padding-bottom: 3px;
}
#evaluation{
    padding-top: 5px;
    padding-bottom: 5px;
}
#lblMsgConfirmYesNo, #alertMsg {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 18px;
}
.modal-footer {
    padding-top: 10px;
    padding-bottom: 10px;
}
#btnNoConfirmYesNo, #btnYesConfirmYesNo, #alertBtn {
    padding: 8px 18px;
    font-size: 15px;
}
.alert {
    /*padding: 20px;*/
    font-size: 25px;
    text-align: center;
}
.back-left {
    top: 2px;
}
.navbar-btn {
	margin-right: 10px;
    float: right;
}
.text-btn-center {
	text-align: center;
}
.custome-label {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    width: 65%;
    float: left;
}
.check-tip {
	color: red;
	font-size: 13px;
	margin-top: -8px;
}
.custom-btn {
	float: right;
    margin-right: 8px;
    width: 30%;
    margin-top: -25px;
    padding: 10px 10px;
}
.redress-confirm-btn {
    text-align: center;
    min-height: 70px;
    width: 100%;
    position: fixed;
    bottom: -10px;
    right: 0;
    left: 0;
    display: block;
    z-index: 1033;
}
.redress-confirm-label {
    display: block;
    font-size: 120%;
    text-align: left;
    background-color: #00a1ea;
    color: #fff;
    padding-top: .4em;
    padding-bottom: 0.5em;
}
.no-order-tip {
    text-align: center;
    font-size: 19px;
    margin-top: 40%;
}
#loading-bar .bar {
    background-color: #398439;
    height: 3px;
}
#loading-bar .peg {
    -webkit-box-shadow: #398439 1px 0 6px 1px;
    box-shadow: #398439 1px 0 6px 1px;
}
#loading-bar-spinner {
    display: none;
}
.panel-primary>.panel-heading {
    background-color: #777;
    border-color: #777;
}
.panel-primary {
    border-color: #777;
}
.amount-tip {
    float: right;
    margin-top: 2px;
}
.input-fixed {
    position: fixed;
    z-index: 10;
    left: 12px;
    right: 12px;
    top:70px;
}
.version {
    position: absolute;
    bottom: 4px;
    text-align: center;
    width: 100%;
}
.modal.fade .modal-dialog {
    transition: transform .1s ease-out;
    -webkit-transition: -webkit-transform .1s ease-out;
}
.home-row {
    text-align: center; 
    margin-bottom: 8px;
}
.home-row .glyphicon {
    top: 2px;
}
.bs-callout {
    padding: 6px;
    margin: 8px 6px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-info-danger {
    border-left-color: #c9302c;
}
.bs-callout-info-success {
    border-left-color: #5cb85c;
}
.bs-callout h4 {
    margin-top: 6px;
    margin-bottom: 6px;
    color: #c9302c;
}
.bs-callout h4.success {
    color: #5cb85c;
}
.acount-wrapper {
    margin: auto 15px;
    margin-top: -6px;
}
.row .left {
    float: left;
}
.row .right {
    float: right;
}
/*.alert-tip {
    font-size: 18px;
    padding: 8px;
    text-align: left;
    margin-top: -18px;
}*/
.alert-tip {
    font-size: 14px;
    text-align: left;
    height: 55px;
    background-color: #e6e6e6;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #323232;
    margin-bottom: 0;
}

.th-vertical {
    vertical-align: middle !important;
}
.form-row {
    margin: -5px -6px 14px;
}
.search-btn {
    width: 80%;
    padding: 8px 16px;
    background-color: #00a1ea;
    border: none;
}
.form-inline .row {
    text-align: center;
}
#houseMap label{
    display: inline-block;
    max-width: 150px;
    margin-bottom: 5px;
    font-weight: 700;
}

#houseMap .BMapLabel{
    width: 120px;
}



/*新版首页css*/

.container{
    padding: 0;
    margin-bottom: 0;
}
.top{
    width: 100%;
    height: 270px;
    background: url(../img/top.png) no-repeat;
    background-size: 100%;
    background-position: center;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}
.top-contain{
    margin-top: 30px;
    position: relative;
}
.top-contain .personal{
    font-size: 11px;
    color: #fff;
    position: relative;
    top: -4px;
    cursor: pointer;
}
.top-contain .jiantou{
    width: 12px;
    height: 15px;
    background: url(../img/jiantou.png) no-repeat;
    background-size: 100%;
    background-position: center;
    display: inline-block;
}
.top-contain .profile{
    width: 150px;
    text-align: right;
    position: absolute;
    top:-12px;
    right: 10px;

}

.container .photo,.rea-name,.use-name,.evaluation,.signed{
    text-align: center;
}
.container .photo img{
    width: 70px;
}
.container .rea-name{
    margin: 15px 0 9px 0;
    font-size: 15px;
    color: #fff;
}
.container .use-name{
    margin-bottom: 18px;
    font-size: 11px;
    color: #fff;
}
.evaluation{
    font-size: 11px;
    color: #fff;
}
.signIned{
    text-align: center;
    margin-top: 15px;
}
.signIn{
    text-align: center;
    margin-top: 15px;
}
.sign-box{
    width: 48px;
    height: 24px;
    display: inline-block;
    background-color: #00a0e9;
    line-height: 22px;
    border-radius: 2px;
    border: 1px solid #FFF;
}
.signed-box{
    width: 48px;
    height: 24px;
    display: inline-block;
    background-color: #fff;
    line-height: 24px;
    border-radius: 2px;
}
.signed{
    font-size:11px ;
    color: #00a0e9;
}
.sign{
    font-size:11px ;
    color: #fff;
}
.signIned .dagou{
    width: 12px;
    height: 15px;
    background: url(../img/dagou.png) no-repeat;
    background-size: 100%;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
}
.signIn .dagou{
    width: 12px;
    height: 15px;
    background: url(../img/sign.png) no-repeat;
    background-size: 100%;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
}
.middle{
    margin-top: 240px;
}
.home-med{
    padding: 0 35px;
}
.home-med .waite{
    width: 50%;
    border-right: 1px solid #b4b4b4;
    height: 130px;
    display: inline-block;
}
.waite-img,.finished-img{
    position: relative;
}
.waite-img img{
    width: 75px;
    margin: 25px 10px 0 10px;
}
.distribution{
    margin-left: 15px;
    font-size: 14px;
    color: #323232;
    margin-top: 15px;
    display: inline-block;
}
.home-med .finished{
    width: 50%;
    height: 130px;
    display: inline-block;
    position: absolute;
    left: 50%;
}
.finished-img{
    margin-right: 15px;
}
.finished-img img{
    width: 45px;
    margin: 12px 10px 0 50px;
}
.completed{
    margin-right: 15px;
    font-size: 14px;
    color: #323232;
    margin-top: 15px;
    display: inline-block;
}
.num{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #eb2728;
    border-radius: 10px;
    position: absolute;
    top: 15px;
}
@media screen and (min-width: 414px) {
    .num {
        right: 37%;
    }
    .already{
        right: 0%;
    }
}
@media screen and (max-width: 320px) {
    .num {
        right: 15%;
    }
    .already{
        right: 0%;
    }
}
@media screen and (min-width: 333px) and (max-width: 376px) {
    .num {
        right: 30%;
    }
    .already{
        right: 0%;
    }
}

/*待配送订单*/
.header{
    width: 100%;
    height: 70px;
    background: url(../img/nav.png) no-repeat;
    display: inline-block;

}
.header .back{
    width: 16px;
    height: 18px;
    background: url(../img/back.png) no-repeat;
    display: inline-block;
    background-size: 100%;
    background-position: center;
    margin: auto 0;
    position: relative;
    top: 25px;
    left: 10px;
}

.nav-header{
    margin: auto 10px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.waite-distribution{
    background-color: #e2e2e2;
}
.row{
    margin-right: -18px;
    margin-left: -18px;
}
.panel-default{
    margin-top: -1px;
}
.panel-default>.panel-heading{
    background-color: #f6f6f6;
    border-color: #c8c8c8;
    padding-left: 10PX;
}
.user{
    font-size: 14px;
    color: #323232;
}

.order-detail{
    width: 30px;
    height: 18px;
    background: url(../img/jiantouIcon.png) no-repeat;
    display: inline-block;
    background-size: 60%;
    background-position: center;
    position: absolute;
    top: 2px;
    right: -18px;
}
.detail{
    font-size: 14px;
    color:#00a0e9 ;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 25px;
}
.messages-box{
    min-height: 90px;
    font-size: 14px;
    color: #323232;

}
.messages{
    padding: 15px 0 15px 10px ;
    border-bottom: 1px solid #c8c8c8;
}
.messages-bottom{
    height: 40px;
    border-bottom: 1px solid #c8c8c8;
}
.messages-bottom-box{
    padding:10px;

}
.messages-location{
    width: 50%;
    display: inline-block;
    padding-left: 70px;
    position: relative;
    font-size: 14px;
    color:#00a0e9 ;
    border-right: 1px solid #c8c8c8;

}
.messages-phone{
    width: 50%;
    display: inline-block;
    float: right;
    position: absolute;
    padding-left: 75px;
    font-size: 14px;
    color:#00a0e9 ;
}
.messages-location .loca{
    width: 30px;
    height: 25px;
    background: url(../img/loca.png) no-repeat;
    display: inline-block;
    background-size: 60%;
    background-position: center;
    position: absolute;
    left: 40px;
    top: -3px;
}

.messages-phone .phone{
    width: 30px;
    height: 25px;
    background: url(../img/phone.png) no-repeat;
    display: inline-block;
    background-size: 70%;
    background-position: center;
    position: absolute;
    left: 42px;
    top: -3px;
}
.none{
    width: 100px;
    height: 120px;
    background: url(../img/none.png) no-repeat;
    display: inline-block;
    background-size: 70%;
    background-position: center;

}
.zore{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -50px;
    text-align: center;
}
/*个人中心*/
.my{
    background-color: #e2e2e2;
    height: 700px;
}
.profile-header{
    background-color: #fff;
    font-size: 14px;
    color: #505050;

}
.login{
    margin-top:15px ;

}
.login-header{
    text-align: center;
    font-size: 14px;
    color: #00a0e9;
}
.no{
    position: absolute;
    left: 14px;

}

/*司机反馈*/
.feedback{
    border-bottom: 1px solid #e2e2e2;
    padding: 15px 15px 0 15px;
    height: 225px;
}
.feedback-text{
    background-color: #F5F5F5;
    margin-top: 10px;
}
.upload{
    height: 73px;
    width: 73px;
    border: 2px dashed #b4b4b4;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    position: relative;
}
.add{
    font-size: 40px;
    color: #b4b4b4;
}
.addPhoto{
    margin-left: 14px;
    position: absolute;
    top: 33px;
    color: #969696;
    font-size: 14px;
}
.feedback-submit{
    margin-top: 20px;
    padding: 0 20px;
}

.feedback-sub {
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #00a0e9;
    padding-top: 15px;
}
.res-name{
    position: absolute;
    top:15px;
    left:105px;
    border: none;
    font-size: 14px;
}
.type{
    position: absolute;
    top: 17px;
    left: 105px;
    font-size: 13px;
    color: #969696;
    background-color: #fff;
    border: none;
    overflow: hidden;
}
.action-sheet-backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    transition: background-color 150ms ease-in-out;
    -webkit-transition: background-color 150ms ease-in-out;
    pointer-events: auto;
    display: none;
}
.action-sheet-wrapper {
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    -webkit-transition: all cubic-bezier(.36,.66,.04,1) 500ms;
    transition: all cubic-bezier(.36,.66,.04,1) 500ms;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
}
.action-sheet-up {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.action-sheet {
    width: auto;
    margin: 0;
    z-index: 1031;
    overflow: hidden;
}
.action-sheet-group {
    margin: 10px 0 0;
    border-radius: 6px;
    background-color: #fafafa;
    overflow: hidden;
}
.button {
    -webkit-appearance: button;
    font-weight: 400;
    position: relative;
    margin: 0;
    min-height: 47px;
    min-width: 52px;
    border: none;
    vertical-align: top;
    text-overflow: ellipsis;
    line-height: 42px;
    cursor: pointer;
    width: 100%;
    display: block;
    padding: 1px;
    background: transparent;
    font-size: 18px;
    text-align: center;
}
button.button:active {
    background-color: #D9D9D9;
}
.panel-heading>span {
    display: block;
    float: right;
    color: #286090;
}
#history-page .spinner-page {
    margin-top: 30%;
}
.pagination>li>a, .pagination>li>span {
    padding: 6px 10px;
}

/*配送订单详情*/
.container-detail{
    background-color: #e2e2e2;
}
.bottom{
    height: 70px;
}
.bottom .bottom-left{
    width: 50%;
    background-color: #f6f6f6;
    font-size: 13px;
    height: 70px;
}
.bottom .bottom-middle{
    width: 30%;
    font-size: 14px;
    text-align: center;
    margin-bottom: 4px;
    background-color: #00a1ea;
    color: #fff;
    position: absolute;
    left: 49%;
    top: 0px;
    height: 70px;
    line-height: 70px;
}
.bottom .bottom-right{
    width: 22%;
    font-size: 14px;
    color: #fff;
    background-color: #70c8f0;
    position: absolute;
    right: 0;
    top: 0;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

/*配送单查询*/
.comment{
    width: 25%;
    display: inline-block;
}
.query-bottom{
    margin:14px;
}
.today-orders,.stockout-query,.return-back,.history-query{
    display: inline-block;
    width: 24%;
    font-size: 10px;
    text-align: center;
}
.today{
    width: 30px;
    height: 30px;
    background: url(../img/todayIcon.png) no-repeat;
    display: inline-block;
    background-size: 75%;
    background-position: center;

}
.stockout{
    width: 30px;
    height: 30px;
    background: url(../img/stockout.png) no-repeat;
    display: inline-block;
    background-size: 85%;
    background-position: center;

}
.stockout-now{
    width: 30px;
    height: 30px;
    background: url(../img/stockout-now.png) no-repeat;
    display: inline-block;
    background-size: 100%;
    background-position: center;
}
.return{
    width: 30px;
    height: 30px;
    background: url(../img/returnIcon.png) no-repeat;
    display: inline-block;
    background-size: 100%;
    background-position: center;
}
.history{
    width: 30px;
    height: 30px;
    background: url(../img/history.png) no-repeat;
    display: inline-block;
    background-size: 100%;
    background-position: center;

}
.history-now{
    width: 30px;
    height: 30px;
    background: url(../img/history-now.png) no-repeat;
    display: inline-block;
    background-size: 100%;
    background-position: center;

}
.return-now{
    width: 30px;
    height: 30px;
    background: url(../img/returnSelect.png) no-repeat;
    display: inline-block;
    background-size: 100%;
    background-position: center;
}
.today-none{
    width: 30px;
    height: 30px;
    background: url(../img/today-none.png) no-repeat;
    display: inline-block;
    background-size: 75%;
    background-position: center;

}

.no-stockout{
    width: 100px;
    height: 90px;
    background: url(../img/none.png) no-repeat;
    display: inline-block;
    background-size: 70%;
    background-position: center;

}
.return-time{
    height: 42px;
    position: absolute;
    top: 5px;
    width: 40%;
    right: 30px;
    border: none;
    box-shadow: none;
}
.dropdown-menu{
    left: 14px!important;
}
.no-return{
    width: 100px;
    height: 90px;
    background: url(../img/return-none.png) no-repeat;
    display: inline-block;
    background-size: 70%;
    background-position: center;

}
.no-history{
    width: 100px;
    height: 90px;
    background: url(../img/history-none.png) no-repeat;
    display: inline-block;
    background-size: 70%;
    background-position: center;

}
/*今日订单查询*/
.circle-contain{
    margin: 60px 0 35px 0;
}
.circle {
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 50%;
    background:#31b26b;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -80px;
    text-align: center;
}

.left,.right{
    width:160px;
    height:160px;
    position: absolute;
    top: 0;left: 0;
}
.pie_left, .pie_right{
    width:160px;
    height:160px;
    position: absolute;
    border-radius: 50%;
    top: 0px;left: 0px;
    background: #b1d6e4;
}

.pie_right,.right {
    clip:rect(0,auto,auto,80px);
}
.pie_left , .left{
    clip:rect(0,80px,auto,0);
}
.mask {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    left: 25px;
    top: 25px;
    position: absolute;
    text-align: center;
    line-height: 150px;
    font-size: 16px;
}
.today-contain{
    margin-top: 85%;
    padding: 0 10px 0 50px;
}
.today-left,.today-right{
    display: inline-block;
    width: 49%;
}
.today-right{
    float: right;

}
.already-go{
    height: 16px;
    width: 16px;
    background-color: #31b26b;
    display: inline-block;
}
.title{
    height: 20px;
    line-height: 20px;
}
.al{
    font-size: 14px;
    color: #32b16c;
    position: relative;
    top: -4px;
    left: 10px;
}
.ready{
    height: 16px;
    width: 16px;
    background-color: #b1d6e4;
    display: inline-block;
}
.re{
    font-size: 14px;
    color: #80a9bc;
    position: relative;
    top: -4px;
    left: 10px;
}
.today-comment{
    margin-left: 28px;
    margin-top: 5px;
}

/*退货操作*/
.return-list{
    font-size: 14px;
    text-align: left;
    height: 50px;
    background-color: #f6f6f6;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: #323232;
    margin-bottom: 0;
    padding: 15px 0 15px 10px;
    position: relative;
}

.return-input{
    position: absolute;
    width: 50%;
    top: 1px;
    left: 76px;
    height: 48px;
    font-size: 13px;
    background-color: #f6f6f6;
    border: none;
    box-shadow: none;
}

/* customToast */
#versionToast{
    position: fixed;
    width: 30%;
    height: 40px;
    background-color: rgba(0,0,0,0.8);
    top: 49%;
    left: 35%;
    z-index: 999;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 7px;
}
.hide{
    display: none;
}
.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
/* customToast  end*/